<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Books for Trade</title>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src='/javascripts/scripts.js'></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    </head>
    <body>
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <ul class='text-center'>
                <li id="navBarTitle"><p><strong>Books for Trade</strong></p></li>
                <li><a href="/">Home</a></li>
                <li><a href="/user">My Account</a></li>
            </ul> 
        </div>
        <div class='container'>
            {{{body}}}
        </div>
        <footer class='text-center'>
            <a href='https://github.com/daniellzl/bookClubApp' title='GitHub Repository'>GitHub</a>
        </footer>
    </body>
</html>