<div class='text-center'>
    <h3>Log-in failed. Please try again.</h3>
</div>
<div class='text-center'>
     <a href='/user' class="btn btn-warning" role="button" title="Log into Your Account">Log in</a>
</div>