<div class='row'>
    <div class='col-sm-2 col-md-2 col lg-2'></div>
    <div class='col-sm-8 col-md-8 col lg-8'>
        <h3>Account Log In</h3>
        <div class='well'>
            <form action="/login" method="post">
                <div class='form-group'>
                    <input id='username' class="form-control input-lg" type='text' name='username' placeholder='Username'>
                </div>
                <div class='form-group'>
                    <input id='password' class="form-control input-lg" type='text' name='password' placeholder='Password'>
                </div>
                <button class="btn btn-warning" type="submit" title="Log In to Your Account">Log In</button>
            </form> 
        </div>
        <h3>If you don't have an account, please <a href='/register' class="btn btn-warning" role="button" title="Register an Account">Register</a>.</h3>
    </div>
    <div class='col-sm-2 col-md-2 col lg-2'></div>
</div>

