<div class='text-center'>
    <h3>Registration failed. All fields are required for registration.</h3>
</div>
<div class='text-center'>
     <a href='/register' class="btn btn-warning" role="button" title="Register an Account">Register</a>
</div>